.navbar {
    
    width: 100%;
    position: fixed;
    height: 11vh;
    background-color: black;
    color: white;
    justify-content: space-evenly;
}
.logo{
    background: linear-gradient(45deg, #00dbde,#fc00ff);
    margin: 8px 7px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    cursor: pointer;
}
.brand{
   text-decoration: none; 
   font-weight: bold;   
   font-size: 20px;
   cursor: pointer;  
   background: linear-gradient(90deg, #00dbde,#fc00ff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.right-side{
    width: 25rem;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    float: right;
    width: 200px;
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer;
}
li:hover {
    border-bottom: 2px solid red;
    transition: 1s ease;
}
.search-bar{
    height: 1.8rem;
    width: 14rem;
}
.search-field{
    margin-top: 14px;
    background-color: rgba(0,0,0,0);
    color: white;
    border: 2px solid white;
    outline: none;
    height: 1.4rem;
    width: 12rem;
    border-radius: 18px;
    text-align: center;
}
.search{
    margin: 4px;
}
