.image{
   margin: 62px 0 0 7px;
   border-radius: 12px;
}
.p{
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.description{
    display: flex;
}
.details{
    margin: 62px 10px 0 20px;
}
.cast-container{
    width: 1020px;
    margin: 24px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.star-cast{
    font-size: 25px;
    margin-left: 16px;
}
.cast-image{
    display: flex;
    height: 120px;
    width: 100px;
    border-radius: 6px;
}
.cast-name{
    font-size: x-small;
    margin: 4px 0 8px 4px;
    text-align: center;
}
