.heading {
    position: fixed;
    /* z-index: 100; */
    margin: 0;
    padding: 0;
    /* height: 10vh; */
    width: 100%;
    color: rgb(77, 70, 70);
    display: flex;
    justify-content: center;
    background-color: rgb(167, 230, 255); 
}
.search-section {
    margin-top: 1rem;
    height: 2rem;
    display: flex;
    justify-content: center;
}
.search-bar{
    width: 20rem;
}
.search-btn {
    background-color: brown;
    color: wheat;
    border-radius: 10px;
    border: none;

}
.btns {
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.btn {
    background-color: rgb(145, 255, 255);
    border: 1px solid rgb(25, 105, 105);
    outline: none;
    height: 2.5rem;
    width: 6rem;
    border-radius: 6px;
}


